<%- include("header") -%>
    <video autoplay muted loop plays-inline id="myVideo">
      <source src="bg-video.mp4" type="video/mp4">
    </video>
    <div class="box" id="heading">
      <img src="todo.png" >
      <h1>
           <%= listTitle %>
      </h1>
    </div>

    <div class="box">
      <% for(var i=0;i<newListItems.length;i++){ %>
        <div class="item">
          <input type="checkbox">
          <p>
            <%= newListItems[i] %>
          </p>
        </div>
        <% } %>

          <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value=<%=listTitle %>>+</button>
          </form>
    </div>

<%- include("footer") -%>